.login {
    padding-top: 200px;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 102vh;
    margin: 0;
}

.login-background {
    background-image: url("/images/aniMoobg.png");
    background-size: cover;
    height: 200%;
}

html {
    height: 100%;
}
